<html>
    <head><title>Results</title></head>
    
    <body>
        <img src="http://learn.tsinghua.edu.cn:8080/2011011236/PICs/LogoName.png" width="254" height="46" hspace="10"/>
        <form method="POST" action="/search">
            <input type="text" name="SearchWord" value="{{keywords}}" size="50" />
            <input type="submit" value="     Go again!     "/>
        </form>
        <br/>
        There are(is) {{num}} results.
        <br/><br/>     
        <table border="0">
            {% for prof in profDics %}
            <tr>
                <td><a href="{{prof.url}}">{{prof.name}}     </a></td>
                <td><a href="{{prof.url}}">{{prof.url}}     </a></td>
            </tr>
            <tr>
                <td>abstract: </td><td>{%autoescape off%}"...{{prof.text}}..."{%endautoescape%}</td>
            </tr>
            <tr/><tr/><tr/>
            {% endfor %}
        </table>
    </body>
</html>